body{
    margin: 0;
    background-color: #333333;
    max-width: 1920px;
    height: 200px;
}

.container{
    width: 80%;
    margin: auto;
}

.logo{
    text-align: center;
    color: #ffffff;
}

#inp{
    border-radius: 30px;
    outline: none;
    padding: 10px;
    width: 100%;
    padding-left: 50px;
    font-size: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #333333;
}

.task{
    width: 100%;
    font-size: 30px;
    padding: 10px 50px  10px 20px;
    border-radius: 30px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #333333;
    word-wrap: break-word;
    justify-content: space-between;
    display: flex;
}

.complete{
    text-decoration: line-through;
    color: #929292;
}

.task-node{
    width: 95%;
}

.btn{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: #fff;
    margin-left: 50px;
}

.btn:focus{
    border: 2px solid pink;
}

.btn-clear:focus{
    border: 2px solid #fff;;
}